@media only screen and (max-width : 1199px) {
  .contain {
    max-width: 970px
  }
  .section,
  .foot {
    margin-top: 70px;
  }

  .every-col-2 h1 {
    font-size: 27px;
  }
  .foot-top-w {

    justify-content: space-between;
  }
  .foot-col-1,
  .foot-col-2,
  .foot-col-3,
  .foot-col-4 {
    width: calc(25% - 10px);
    margin-right: 0;
    margin-left: 0;
  }
  .foot-col-2 {
    width: 125px;
  }
  .foot-ul a, 
  .foot-ul li { 
    font-size: 14px;
  }
  .fliter-section {
    margin-top: 31px;
  }
  .ab-course-info-txt {
    line-height: 1.4;
  }
  .ab-course-info-txt-w {

    justify-content: space-between;
  }
  .ab-course-info {
    margin-right: 0;
  }
  .ab-course-info,
  .ab-course-col-2 {
    width: calc(50% - 5px);
  }
  .all-cours3,
  .all-cours4 {
    margin-top: 0px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px;
  }    
  .categ-menu-ul li {
    margin-right: 0;
  }
  .categ-menu-w {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
  }
  .categ-menu-ul {
    padding: 0 10px;
    width: 100%;
  }
  .top-mnu {
    padding-left: calc((100vw - 750px) / 2);
  }
  .cat-txt {
    margin-left: 15px;    
  }
  .every-w {    
    flex-wrap: wrap;
  }
  .every-btn-o-w {
    width: 100%;
    margin-top: 25px;
    justify-content: flex-start;
  }
  .every-col-2 {
    width: calc(100% - 240px);
    padding-right: 0;
    flex: unset;
    padding-left: 30px;
  }
  .every-col-1 {
    margin-right: 0;
  }
  .all-sch-col,
  .all-cours-col {
    width: 50%;
  }  
  .modal-form__block {
    width: calc(100% - 10px);
  }
  .header {
    padding: 18px 0;
  }
  .foot-logo {
    font-size: 33px;
  }
  .foot-ul li {
    line-height: 1.4;
  }
  .categ-menu-ul a {
    padding-left: 0;
  }
  .filter-col-372 {
    margin-bottom: 0;
  }
  .col-l {
    padding-bottom: 56px;
  }
  .about-page .col-l {
    padding-bottom: 0;
  }
  .courses-art-col {
    width: 100%;
    .all-cours-it {
      height: auto;
    }
    .all-cours-partic {
      margin-top: 25px;
    }
  }
  .courses-art-w {    
    flex-wrap: wrap;
  }
  .cols-w {    
    flex-wrap: wrap;
  }
  .col-r {
   margin-left: 0; 
 }  
 .onl {
  margin-bottom: 25px;
}
.pubs-section .pubs-w {
  margin-top: -10px;
}
.pubs-section {
  margin-top: 45px;
}
.all-cours2 .all-cours-it {
  margin-bottom: 21px;
}
.rev2 {  
  .rev-it {
    margin-bottom: 30px;
  }
  .rev-w {
    margin-top: -20px;
  }
} 
.rev-pagin-w {
  margin-top: 0;
}
.all-cours2-btn-w {
  margin-top: 25px;
}
.tabs_content.schcat-tabs-content {
  margin-top: 0;
}
.all-cours2 {
  margin-top: 40px;
}
.sch-onl-col {
  width: 50%;
}

.about-page .col-l {
  width: 100%;
}
.qansw-section {
  margin-bottom: 0;
  margin-top: 0;
}
.about-page {
  margin-top: 48px;
}
.about-page__form {
  margin-top: 35px;
}
.other-courses-w {
  .col-33-10 {
    width: 100%;
  }
  .all-cours-it {
    margin-bottom: 25px;
    height: auto;
  }
  .all-cours-partic {
    margin-top: 25px;
  }
}
.other-courses,
.addrev,
.program-w {
  margin-top: 0;
}
.onl.fixed {
  position: static;
  max-width: 100%;
}
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }
  .top-mnu {
    padding-left: calc((100vw - 600px) / 2);
  }
  .all-cours-col {
    width: 100%;
  }
  .all-cours-it {
    height: auto;
  }
  .all-cours-partic {
    margin-top: 25px;
  }
  .public-col {
    width: 50%;
  }
  .rev-col {
    width: 100%;
  }
  .foot-top-w {    
    flex-wrap: wrap;
  }
  .foot-col-1, .foot-col-2, .foot-col-3, .foot-col-4 {
    width: 50%;
  }
  .foot-ul {
    margin-bottom: 26px;
  }
  .foot-ul li {    
    &:last-child {
      margin-bottom: 0;
    }
  }
  .foot-logo {
    margin-top: 0;
  }
  .foot-dow-txt {
    line-height: 1.4;
  }
  .foot-top {
    padding-bottom: 20px;
  }
  .foot {
    padding-top: 40px;
  }
  .foot-dow-txt {
    font-size: 13px;
  }
  .all-sch-txt-3 {
    font-size: 15px;
  }
  .every-col-1,
  .every-col-2 {
    width: 100%;
    border: none;
    padding-left: 0;
  }
  .every-col-2 h1 {

    font-size: 28px;
    line-height: 1.2;
  }
  .filter-col {
    width: 50%;
  }
  .filter-col-372 {
    width: 100%;
  }
  .scourses-w p {
    font-size: 14px;
  }
  .all-cours2 .all-cours-w {
    margin-bottom: 20px;
  }
  .all-cours2 {
    margin-top: 50px;
  }
  .content h1 {
    font-size: 30px;
  }
  .pub-img-w {
    width: 200px;
    height: 150px;
    margin-right: 22px;
  }
  .pubs-w {
    margin-top: 36px;
  }
  .table-w-w {
    width: 100%;
    overflow-x: scroll;  
    padding-bottom: 25px;  
    .table-w {
      width: 749px;
    }
  }
  .col-l {
    width: 100%;
  }
  .schcat-tabs-w {   
    overflow-x: scroll; 
    padding-bottom: 4px;
  }
  ul.schcat-tabs {
    width: 782px;
    &:before {
      display: none;
    }
  }
  .sch-onl-w {
    margin-top: 30px;
  }
  .sch-onl {
    margin-top: 48px;
  }  
  .revsfilts-col {
    width: 100%;
    margin-bottom: 15px;    
    &:last-child {
      margin-bottom: 0;
    }
  }
  .mapsite__col {
    width: 100%;
  }
  .mapsite__col ul {
    margin-bottom: 20px;
    li {
      margin-bottom: 20px;
    }
  } 
  .mapsite__actions {
    margin-bottom: 23px;
  }
  .mapsite__row-w {
    margin-bottom: 0;
  }
  .mapsite {
    margin-top: 44px;
  }
  .mapsite__pagin-w {
    margin-top: 28px;
  }
  .addform__inputs2 {    
    flex-wrap: wrap;
    .col-50-10 {
      width: 100%;
    }
  }
  .addform__inputs2 {
    margin-top: 0;
  }
  .ab-course-info, .ab-course-col-2 {
    width: 100%;
  }
  .ab-course-info-txt-w {  
    flex-wrap: wrap;
  }
  .addrev__form {
    margin-top: 10px;
  }
  .col-62-15 {
    width: 100%;
  }
  .row15 {
    flex-wrap: wrap;
  }      
  .star-rating {
    height: auto;
  }
  .addrev__form {
    padding-bottom: 30px;
  }
  .other-courses h2 {
    font-size: 26px;
  }
  .addrev__btn-w {    
    flex-wrap: wrap;
    .form-check-label {
      margin-bottom: 35px;
    }
  }
  .partic-w {
    padding: 30px 20px;
  }
  .ab-course-w {
    margin-top: 0;
  }
  .addrev__form {
    padding: 20px;
  }
}
@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
  .top-mnu {
    padding-left: calc((100vw - 530px) / 2);
  }
  .public-span-1 {
    font-size: 17px;
  }
  h2 {
    margin-bottom: 41px;
  }
  .rev-w {
    margin-top: 0;
  }
  .all-sch-col {
    width: 100%;
  }
  .scourses-w {    
    flex-wrap: wrap;
  }
  .scourses-select-w {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;    
  }
  .scourses-w p {
    line-height: 1.4;
  }
  .all-cours2 {
    margin-top: 40px;
  }
  .filter {
    padding: 24px;    
  }
  .filter-col {
   margin-bottom: 14px; 
 }  
 .filter-col-372 {
  margin-bottom: 0;
}
.pub-a {
  font-size: 18px;
}
.cols-w h1 {
  font-size: 30px;
}
.cols-w h2 {
  margin-top: 31px;
}
.tblock h2 {
  font-size: 25px;
  margin-bottom: 29px;
}
.pubs-section {
  margin-top: 15px;
}
.sch-onl-col {
  width: 100%;
}
.sch-onl-it {
  margin-bottom: 14px;
  height: auto;
}
.sch-onl-it-1 {
  padding-bottom: 23px;
}
.addform {
  margin-top: 36px;
}
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-mnu {
    padding-left: 15px;
  }
  .section, .foot {
    margin-top: 50px;
  }
  .foot-col-1, .foot-col-2, .foot-col-3, .foot-col-4 {
    width: 100%;
  }
  .foot-top {
    padding-bottom: 0;
  }
  .public-span-1 {
    font-size: 16px;
  }
  .modal-form__block {
    padding: 20px;
  }
  .filter {
    padding: 18px;
  }
  .addform__checks {    
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .addform__checks label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .partic-ul {    
    flex-wrap: wrap;
    margin-bottom: 0;
    li {
      margin-bottom: 14px;              
      &:last-child {
        margin-bottom: 14px !important;
      }
    }
  }
  .partic-txt-row {
    flex-wrap: wrap;
  }
  .partic-txt-row .all-sch-txt-1 {
    margin-top: 19px;
    margin-left: 0;
  }
  .ab-course-info-txt {
    margin-bottom: 24px;
  }

  .addrev__btn-w {
    .form-check-label {    
      align-items: flex-start;
      span {
        line-height: 1.3;
      }
    }
  }
  .all-cours3,
  .all-cours4 {
    margin-top: 0px;
  }
}


@media only screen and (max-width : 480px) {
  .every-w {
    padding: 20px;
  }
  .logo-txt-1 {
    font-size: 31px;
  }
  .logo-txt-2 {
    font-size: 11px;
    width: 119px;
  }
  .logo {
    width: auto;
  }
  .categ-menu,
  .every {
    margin-top: 25px;
  }
  .every-txt-4 {
    font-size: 18px;
  }
  .every-txt-3 {

  }
  .every-txt-2 {
    line-height: 1.2;
    margin-top: 10px;
  }
  .every-col-2 h1 {
    margin-bottom: 10px;
    line-height: 1.2;    
  }
  .public-col {
    width: 100%;
  }
  .public-item {
    margin-bottom: 26px;
  }
  .filter-col {
    width: 100%;
  }
  .filter-col-372 {    
    flex-wrap: wrap;
    .form-check-label {
      width: 100%;
      margin-bottom: 15px;
    }    
  }
  .filter {
    .btn {
      width: 100%;
    }
  }
  input[type="text"].form-input-56,
  .select2-container .select2-selection--single {
    height: 46px;
  }
  input[type="text"],
  .select2-container .select2-selection--single .select2-selection__rendered,
  .form-check-label span {
    font-size: 15px;
  }
  .fliter-section {
    margin-top: 30px;
  }
  .pub {
    flex-wrap: wrap;
  }

  .pub-img-w {
    margin-bottom: 15px;
  }
  .pub-img-w {
    width: 100%;
    height: 180px;
  }
  .col-l {
    padding-bottom: 36px;
  }
  .col-r {
    width: 100%;
  }
  .cols {
    margin-top: 49px;
  }
  .adate {
    margin-bottom: 13px;
  }
  .school-w {
    padding: 27px 25px 18px;
  }
  .school-img-w {
    width: 100px;
    height: 100px;
  }
  .school h1 {
    font-size: 34px;
  }
  .revsfiltr {
    padding: 30px;
  }
  .revsfiltr-section {
    margin-top: 50px;
  }
  .about-page__form {
    padding: 25px 20px;
    margin-top: 0;
  }
  .about-page {
    margin-top: 23px;
  }
  .addform_file-label-w {
    width: 160px;
    height: 150px;
    margin-right: 10px;
  }
  .addform_file-label span {
    padding-left: 10px;
    padding-right: 10px;
  }
  .add-page {
    p {
      line-height: 1.4;
    }
  }
  .addform {
   .col-50-10 {
     width: 100%;
   } 
 }
 .addform_file-desc {
  font-size: 12px;
}
.addform {
  margin-top: 16px;
}
.addform_file-label span {
  font-size: 13px;
  line-height: 1.3;
}
.addform_file-w {
  margin-bottom: 50px;
}
.addrev__label {
  margin-bottom: 20px;
  .form-label-txt {
    margin-bottom: 7px;
  }
}
}

@media only screen and (max-width : 375px) {

}
@media only screen and (max-width : 360px) {

  body, body > * {
    width: auto;
    min-width: 360px;
  }
}



